@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
}

:root{
    --bg-color: #fdfdfd;
    --text-color: #333;
    --main-color: #225775;
    --white-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, .2);
}

.dark-mode {
    --bg-color: #0b061f;
    --text-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, .7);
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 7%;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
    transition: .5s;
}

.header.sticky{
    background: var(--bg-color);
    box-shadow: 0.1rem 1rem var(--shadow-color);
}

.logo{
    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: 600;
    cursor: default;
    margin-right: auto;
}

.navbar a { 
    position: relative;
    font-size: 1.7rem;
    color: var(--white-color);
    font-weight: 500;
    margin-right: 3.5rem;
}

.header.sticky .navbar a{
    color: var(--text-color);
}

.header.sticky .navbar a.active{
    color: var(--main-color);
}

.navbar a.active::before {
    content: '';
    position: absolute;
    left: 0;
    bottom:-6px;
    width: 100%;
    height: .2rem;
    background: var(--white-color);
}

.header.sticky .navbar a::before{
    background: var(--main-color);
    opacity: .7;
}

#theme-button{
    font-size: 2.4rem;
    color: var(--white-color);
    cursor: pointer;
}
 
.header.sticky #theme-button{
    color: var(--text-color);
    opacity: .9;
}

#menu-icon{
    font-size: 3.5rem;
    color: var(--text-color);
    display: none;
}
  
section{
    min-height: 100vh;
    padding: 10rem 4% 2rem;
}

.Home{
    display: flex;
    align-items: center;
}

.Home.home-content{
    max-width: 44rem;
}

.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
    line-height: -3;
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: .3.5rem;
    color:rgb(37, 78, 78);
}

.home-content p{
    font-size: 1.4rem;
    display: flex;
    align-items:flex-start;
    justify-content:left;
}

.home-content .social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 2rem;
    color: var(--main-color);
    margin: 2.5rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.home-content .social-media a:hover{
    background: var(--main-color);
    color: var(--white-color);
}

.btn{
    display: inline-block;
    padding: 1.2rem 2.8rem;
    background: var(--main-color);
    border-radius: .6rem;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 1.6rem;
    color: var(--white-color);
    letter-spacing: .1rem;
    font-weight: 600;
    border: .2rem solid transparent;
    transition: .5s ease;
}

.btn:hover{
    background: transparent;
    color: var(--main-color);
    border-color: var(--main-color);

}

.Home .profession-container{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 768px;
    height: 768px;
    overflow: hidden;
    pointer-events: none;
} 

.Home .profession-container .profession-box{
    position: absolute;
    top: 0;
    right: 0;
    width: 768px;
    height: 768px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: professionRotate 10s ease-out infinite;
}

@keyframes professionRotate {
    0%,20% {
    transform: rotate(Odeg);
    }
    25%,45% {
    transform: rotate(-90deg);
    }
    50%,70% {
    transform: rotate(-180deg);
    }
    75%,95%{
    transform: rotate(-270deg);
    }
    100% {
    transform: rotate(-360deg);
    }
}

.Home .profession-box .profession {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--main-color);
    transform: rotate(calc(360deg/4*var(--i)));
    transform-origin: 384px;
    background: var(--bg-color);
    padding: 10px 0;
}

.Home .profession-box .profession:nth-child(1) i {
    margin-right: 15px;
}

.Home .profession-box .profession:nth-child(2),
.Home .profession-box .profession:nth-child(4){
    padding-bottom: 20px;
}
.Home .profession i{
    font-size: 3.8rem;
}

.Home .profession h3{
    font-size: 3rem;
    line-height: 1.1;
    font-weight: 450;
}

.Home .profession-box .circle{
    width: 560px;
    height: 560px;
    border: 3px solid var(--main-color);
    border-radius: 50%;
}

.Home .profession-container .overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 384px solid var(--main-color);
    border-right: 384px solid var(--main-color);
    border-bottom: 384px solid var(--main-color);
    border-left: 384px solid transparent;

}

.home-img img{
    position: absolute;
    bottom: -61px;
    right: 0;
    width: 100%;
    pointer-events: none;

}

span {
    color: var(--main-color);

}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    
}

.about-img img{
    width: 65vh;
   
}

.heading{
    font-size: 4.5rem;
    text-align: center;
}

.about-content h2{
    text-align: left;
    line-height: 1.2;

}

.about-content h3{
    font-size: 2rem;
}

.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.about-content .sk{
    font-size: 2rem;
    
}

.about-content ul{
    
    font-size: 1.6rem;
    font-weight: 500;
    word-spacing: 5px;
}

.services{
    min-height: auto;
    padding-bottom: 5rem;
}
.services h2 {
    margin-bottom: 5rem;
}

.services .services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;
}

.services-container .services-box{
    flex: 1 1 30rem;
    background: var(--bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    text-align: center;
    border-top: .6rem solid var(--main-color);
    border-bottom: .6rem solid var(--main-color);
    transition: .5s ease;
}

.services-container .services-box:hover{
    box-shadow: 0 .1rem 2rem var(--shadow-color);
    transform: scale(1.02);
}

.services-box i {
    font-size: 7rem;
    color: var(--main-color);
}

.services-box h3{
    font-size: 2.6rem;
    transition: .5s ease;
}

.services-box:hover h3{
    color: var(--main-color);
}
.services-container .services-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.heading{
    font-size: 4.5rem;
    text-align: center;
    margin: .1rem 0;
}

.education{
    padding: 50px 15px;
    background:var(--bg-color)
}

.education h2{
    margin-bottom: 5rem;
}

.timeline-items{
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.timeline-items::before{
    content: "";
    position: absolute;
    width: 4px;
    height: 100%;
    background-color: var(--main-color);
    left: calc(50% - 1px);
}

.timeline-item{
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}

.timeline-item:last-child{
    margin-bottom: 0;
}

.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}

.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}

.timeline-dot{
    height: 20px;
    width: 20px;
    background-color: var(--main-color);
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;            
}

.timeline-date{
    font-size: 20px;
    font-weight: 500;
    margin: 6px 0 15px;
}

.timeline-content{
    background-color: var(--bg-color);
    border: 3px solid var(--main-color);
    padding: 15px 10px;
    border-radius: 4rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.timeline-content:hover{
    transform: scale(1.05);
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.timeline-content h3{
    font-size: 17px;
}

.timeline-content p{
    font-size: 15px;
    line-height: 22px;
    font-weight: 300;
}


.portfolio{
    padding-bottom: 10rem;
}

.portfolio h2{
    margin-bottom: 4rem; 
}

.portfolio .portfolio-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-container .portfolio-box {
    position: relative;
    display: flex;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
    overflow: hidden;
}

.portfolio-box img {
    width: 100%;
    transition: .5s ease;
}

.portfolio-box:hover img{
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    opacity: 0;
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer{
    opacity: 1;
}

.portfolio-layer  h4 {
    font-size: 3rem;
}

.portfolio-layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--white-color);
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 2rem;
    color: #333;
}


.contact .container{
    position: relative;
    left: 150px;
    width: 100%;
    max-width: 900px; 
    padding: 40px;
    display: flex;
    gap: 80px;
    border-radius: 10px;
    background-color: var(--primary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left {
    width: 55%;
}

.text {
    font-size: 14px;
    color: var(--text-color);
    margin-top: 10px;
}

form {
    margin-top: 20px;
}
.inputBox {
    position: relative; 
    margin-bottom: 20px;
}
.inputBox input,
.inputBox textarea {
    width: 100%;
    padding: 10px; 
    font-size: 16px;
    border-radius: 5px;
    color: var(--primary-color);
    border: none;
    outline: none;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    background: var(--bg-color);
}

.inputBox input::placeholder,
.inputBox textarea::placeholder {
    color: var(--text-color);
    opacity: 0.5; 
    font-size: 12px;
}

.inputBox.error input,
.inputBox.error textarea {
    border-radius: 1px solid red;
}

.inputBox:not(.error) input:focus,
.inputBox:not(.error) textarea:focus {
    border-radius: 1px solid var(--primary-color);
}
.inputBox textarea { 
    resize: none;
    height: 150px;
}

.inputBox .err-msg{
    font-size: 10px;
    color: red;
}

.btnS { 
    width: 100%;
    display: inline-block;
    padding: 10px 20px; 
    font-size: 16px; 
    font-weight: 500;
    border: .2rem solid transparent;
    color: var(--white-color);
    background-color: var(--main-color); 
    border-radius: 5px; 
    cursor: pointer;
    transition: 0.5s;
}

.btnS:hover{
    background: transparent;
    color: var(--main-color);
    border-color: var(--main-color);
}

.right{
    width: 45%;
}

.illustration{
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.illustration img{
    width: 50%;
    margin: auto;
    margin-top: 30px;
}

.contact-info{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 50px;
}

.infoBox{
    display: flex;
    align-items: center;
    gap: 10px;
}

.infoBox .icon{
    width: 40px;
    height: 40px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--main-color);
    border: 1px solid var(--primary-color);
}

.infoBox  .text {
    margin: 0;
}

.infoBox .text a{
    text-decoration: none;
    color: var(--text-color);
}

.social-icons{
    position: absolute;
    right: -50px;
    bottom: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    font-size: 25px;
    align-items: center;
    border-bottom-right-radius: 30px;
    color: var(--white-color);
    background-color: var(--main-color);
}

.social-icons a{
    text-decoration: none;
    color: var(--white-color);
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 7%;
    background: var(--main-color);
}

.footer-text p {
    font-size: 1.6rem;
    color: var(--white-color);

}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--white-color);
    border-radius: .8rem;
    border: .2rem solid var(--main-color);
    outline: .2rem solid transparent;
    transition: .5s ease;
}

.footer-iconTop a:hover{
    outline-color: var(--white-color);

}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: #333;

}

@media(max-width:1200px) {
    html{
        font-size: 55%;
    }

    .Home .profession-container{
        height: 85.8rem;
    }

    .Home .profession-container .profession-box {
        right: -12rem;
        height: 85.8rem;
    }

    .Home .profession-container .overlay{
        right: -9rem;
    }

    .Home .home-img img{
        top: 19rem;
    }

    .contact .container{
        left: 10rem;
    }
}

@media (max-width:1024px) {
    .header{
        padding: 2rem 3%;
    }

    section{
        padding: 10rem 3% 2rem;
    }

    .Home .profession-container .profession-box{
        right: -22rem;

    }

    

    .Home .profession-container .overlay{
        right: -15rem;
    }

    .contact .container{
        left: 1rem;
    }
  

}
@media (max-width:991px){
    .navbar a:nth-child(1),
    .navbar a:nth-child(2){
        color: var(--main-color);
    }

    .navbar a.active::before {
        background: var(--main-color);
        opacity: .7;
    }
    .Home .home-content{
        max-width: 50rem;
    }
    .Home .profession-container .profession-box{
        right: -45rem;
    }

    .Home .profession-container .overlay{
        right: -39.5rem;
    }

    .home-img img{
        display: none;
    }

    .timeline-items::before{
        left: 7px;
    }

    .timeline-item:nth-child(odd){
        padding-right: 0;
        text-align: left;
    }

    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even){
        padding-left: 37px;
    }

    .timeline-dot{
        left: 0;
    }
    .services,
    .portfolio{
        padding-bottom: 7rem;
    }

    .footer{
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {
    
    #menu-icon {
        display: block;
    }

    #theme-button {
        position: absolute;
        right: 7rem;
        font-size: 2.6rem;
        color: var(--text-color);
        margin-bottom: .1rem;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: var(--text-color);
    }

    .navbar a:nth-child(1)
    .navbar a:nth-child(2) {
        color: var(--text-color);
    }

    .navbar a.active {
        color: var(--main-color);
    }

    .navbar a::before {
        display: none;
    }

    .Home{
        padding: 0 3% 23rem;
        justify-content: center;
        text-align: center;
    }

    .home-content h3{
        font-size: 2.6rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-content .social-media a {
        margin: 2.5rem .75rem 3rem;
    }

    .Home .profession-container {
        left: 0;
        width: 100%;
        height: 100%;
    }

    .Home .profession-container .profession-box {
        position: fixed;
        top: 60%;
        left: 0;
        border-radius: 0;
        width: 100%;
    }

    .Home .profession-box .profession{
        padding: 0 13px;
        left: auto;
        transform-origin: 0;
    }

    .Home .profession-box .profession:nth-child(1) {
        transform: rotate(-90deg) translate(-120px, -210px);
    }

    .Home .profession-box .profession:nth-child(1) i {
        margin-right: 0;
    }

    .Home .profession-box .profession:nth-child(2) {
        transform: rotate(0deg) translate(0, -335px);
    }

    .Home .profession-box .profession:nth-child(3) {
        transform: rotate(90deg) translate(-115px, -450px);
    }

    .Home .profession-box .profession:nth-child(4) {
        transform: rotate(180deg) translate(-220px, -335px);
    }

    .Home .profession-box .circle{
        position: fixed;
        width: 670px;
        height: 670px;
        z-index: -1;
    }

    .Home .profession-container .overlay{
        position: fixed;
        top: 70rem;
        left: 50%;
        right: 0;
        transform: rotate(90deg) translate(-50%, 50%) scaleY(3);
        border-width: 23.9rem;
    }

    .about{
        flex-direction: column-reverse;
        text-align: center;
    }

    .about-content h2 {
        text-align: center;
    }

    .about-img img {
        width: 65vw;
        margin-top: -2rem;
    }

    .service h2,
    .porfolio h2 {
        margin-bottom: 3rem;
    }

    .portfolio .portfolio-container{
        grid-template-columns: repeat(2,1fr);
    }

        .contact .container {
          flex-direction: column;
          left: 0;
        }
        .left {
          width: 100%;
        }
        .right {
          width: 100%;
        }
        .illustration img {
          width: 80%;
        }
        .social-icons {
          position: relative;
          right: 0;
          bottom: 0;
          width: 100%;
          max-width: 200px;
          margin: auto;
          padding: 10px 20px;
          flex-direction: row;
          justify-content: space-between;
          border-radius: 5rem;
        }
      
    
}
@media (max-width: 617px) {
    .portfolio .portfolio-container{
        grid-template-columns: 1fr;
    }

      
}
@media (max-width: 450px) {
    html{
        font-size: 50%;

    }

    #theme-button{
        right: 6rem;
    }

    .Home{
        padding: 0 3% 30rem;
    }

    .Home .profession-box .profession:nth-child(1) {
        transform: rotate(-90deg) translate(-110px, -220px);
    }


    .Home .profession-box .profession:nth-child(2) {
        transform: rotate(0deg) translate(5px, -335px);
    }

    .Home .profession-box .profession:nth-child(3) {
        transform: rotate(90deg) translate(-105px, -440px);
    }

    .Home .profession-box .profession:nth-child(4) {
        transform: rotate(180deg) translate(-110px, -335px);
    }
      
    .contact form .input-box input{
        width: 100%;
    }
}

@media (max-width: 365px) {

    .about-img img{
        width: 40vh;
    }

    .footer{
        flex-direction: column-reverse;
    }

    .footer p{
        text-align: center;
        margin-top: 2rem;
    }
}